doctype html
html(lang="eng")
	head
		link(href='assets/css/normalize.css', rel='stylesheet')
		link(href='assets/css/skeleton.css', rel='stylesheet')
		link(href='assets/css/main.css', rel='stylesheet')
		title MPC
		body
			div.container
				div#drumheader
					div.row
						div(class="eight columns logo")
							img(src="assets/images/akailogo.png")
						div(class="four columns")
				div#drummachine
					div.row
						div(class="three columns drumbutton")
						div(class="three columns drumbutton")
						div(class="three columns drumbutton")
						div(class="three columns drumbutton")
					div.row
						div(class="three columns drumbutton")
						div(class="three columns drumbutton")
						div(class="three columns drumbutton")
						div(class="three columns drumbutton")
					div.row
						div(class="three columns drumbutton")
						div(class="three columns drumbutton")
						div(class="three columns drumbutton")
						div(class="three columns drumbutton")
					div.row
						div(class="three columns drumbutton")
						div(class="three columns drumbutton")
						div(class="three columns drumbutton")
						div(class="three columns drumbutton")

